[submodule "open-webui"]
	path = open-webui
	url = https://github.com/open-webui/open-webui.git
[submodule "remote-jobs"]
	path = remote-jobs
	url = https://github.com/remoteintech/remote-jobs
[submodule "redis-om-python"]
	path = redis-om
	url = https://github.com/redis/redis-om-python.git
